#__next {
  width: 100%;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}
body {
  background-color: black !important;
}

/* body::before {
  content: "";
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
} */

body {
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* overflow-x: hidden;  */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

#particles-js {
  background-color: rgba(255, 255, 255, 0.06) !important;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  margin: 0%;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Comfortaa", cursive;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.no-pc {
  display: none;
  visibility: hidden;
}

.MAIN-PAGE {
  min-height: $page-min-height;
}

@media only screen and (min-width: 1299px) {
  /* for pc */
}
@media only screen and (max-width: 900px) {
  /* for tablet */
  .no-tab {
    display: none;
    visibility: hidden;
  }
  .no-pc {
    display: unset;
    visibility: visible;
  }
}
@media only screen and (max-width: 640px) {
  /* for mobile */
  .no-mob {
    display: none;
    visibility: hidden;
  }
  .no-pc {
    display: unset;
    visibility: visible;
  }
  #particles-js {
    visibility: hidden;
    display: none;
  }
}
