@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sacramento&display=swap");
/* font-family: 'Comfortaa', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sacramento', cursive; 
font-family: 'Edu SA Beginner', cursive; */

$pc-screen: 1290px;
$tablet-screen: 900px;
$mobile-screen: 640px;
$header-height: 15vh;
$footer-height: 10vh;
$page-min-height: 100vh - $header-height - $footer-height;
$text-black-2x4-outline: 0 0 2px black, 0 0 2px black, 0 0 2px black,
  0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;

@mixin borderRadius {
  border-radius: 10px;
  overflow: hidden;
}
