@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sacramento&display=swap");

/* font-family: 'Comfortaa', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sacramento', cursive; 
font-family: 'Edu SA Beginner', cursive; */

:root {
  --pc-screen: 1300px;
  --header-height: 15vh;
  --footer-height: 10vh;
  --page-min-height: calc(100vh - var(--header-height) - var(--footer-height));
  --text-black-2x4-outline: 0 0 2px black, 0 0 2px black, 0 0 2px black,
    0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

body::before {
  content: "";
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
}

body {
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* overflow-x: hidden;  */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

#particles-js {
  background-color: rgba(255, 255, 255, 0.06) !important;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  margin: 0%;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.no-pc {
  display: none;
  visibility: hidden;
}

.MAIN-PAGE {
  min-height: var(--page-min-height);
}

@media only screen and (min-width: 1299px) {
  /* for pc */
}
@media only screen and (max-width: 900px) {
  /* for tablet */
  .no-tab {
    display: none;
    visibility: hidden;
  }
  .no-pc {
    display: unset;
    visibility: visible;
  }
}
@media only screen and (max-width: 640px) {
  /* for mobile */
  .no-mob {
    display: none;
    visibility: hidden;
  }
  .no-pc {
    display: unset;
    visibility: visible;
  }
  #particles-js {
    visibility: hidden;
    display: none;
  }
}
