#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20vw;
  text-align: center;
  font-family: "Comfortaa", cursive;
  text-shadow: var(--text-black-2x4-outline);
  width: 100%;
}

#home #home-main {
  width: 100%;
}

#home #home-main h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

#home #home-main p {
  font-size: 1.1rem;
  margin: 10px auto;
  width: min(80ch, 80%);
  line-height: 30px;
  text-align: center;
}

#home .all-swipers {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .all-swipers > div {
  width: calc(100% / 3);
  padding: 10px;
  cursor: pointer;
}
#home .all-swipers > div h2 {
  margin-bottom: 30px;
}

#home .all-swipers .carousel-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#home .all-swipers .carousel-item {
  /* width: 100px; */
  /* height: 300px; */
  margin: 10px;
  background-color: blueviolet;
}

@media only screen and (max-width: 900px) {
  #home .all-swipers {
    flex-direction: column;
    width: 100%;
  }
  #home .all-swipers > div {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  #home {
    padding: 0 5vw;
  }
}
